* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background: #140019;
}

.container {
  width: 600px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* background: black; */
  overflow: hidden;
}

.product-item {
  width: 400px;
  height: 550px;
  /* background: #ccc; */
  perspective: 1000px;
}

.product-content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 5s;
  transform: rotateY(180deg);
}

.product-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateZ(25px);
}

.product-top-area {
  height: 50%;
  width: 100%;
  background: linear-gradient(#c370fd, #3eb1b8);
  color: #fff;
}

.product-top-area h1 {
  font-size: 130px;
  margin-left: 20px;
  font-style: italic;
  opacity: 0.3;
}

.product-footer-area {
  padding: 50px;
}

.product-footer-area p {
  font-size: 12px;
}

.product-footer-area h2 {
  margin-bottom: 35px;
  color: #008394;
  letter-spacing: 1px;
}

.product-footer-area h1 {
  font-size: 40px;
  font-weight: 400;
  color: #333;
  margin-bottom: 5px;
}

.product-footer-area h1 span {
  color: #3a5a79;
}

.product-footer-area button {
  padding: 9px 25px;
  background: transparent;
  color: #008394;
  border: 1px solid #008394;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

.color-options {
  display: flex;
  float: right;
  margin-top: -10px;
}

.select-item {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  padding: 5px;
  box-shadow: -5px 0 8px 2px rgba(156, 216, 244, 0.5);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.select-item img {
  width: 80%;
  padding-top: 10%;
}

.select-item:hover {
  background-color: rgba(156, 216, 244, 0.5);
  box-shadow: none;
  transition: 0.5s;
}

.product-back {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  transform: rotateY(180deg) translateZ(25px);
}

.product-top-area-two {
  background: linear-gradient(#0794a6, #9bae07);
}

.left-side,
.right-side {
  width: 50px;
  height: 100%;
  background: white;
  transform: rotateY(90deg);
  position: absolute;
  top: 0;
  left: -25px;
}

.right-side {
  transform: rotateY(-90deg);
  left: auto;
  right: -25px;
}

#frontImg {
  width: 340px;
  top: 70px;
  left: 20px;
  position: absolute;
  transform: translateZ(50px);
  transition: 3s;
  z-index: 100;
}

#backImg {
  width: 340px;
  top: 70px;
  left: -650px;
  position: absolute;
  transform: translateZ(50px) rotateY(-30deg);
  transition: 3s;
  z-index: 100;
}
